<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Nuevo préstamo</title>
    <link th:insert="~{headertemplate :: bs}" />
  </head>

  <body>
    <div th:insert="~{headertemplate :: header}"></div>

    <div class="container w-50">
      <h1>Crear préstamo</h1>
      <hr />
      <div class="row justify-content-center">
        <form action="#" method="post" th:action="@{/prestamos/save_prestamo}">
          <div class="mb-3">
            <label for="lector" class="form-label">Lectores</label>
            <select
              class="form-select form-select-lg"
              name="lector"
              id="lector"
            >
              <option selected value="-1">Escoge un lector</option>
              <option
                th:each=" lector : ${lectores}"
                th:value="${lector.Id}"
                th:text="'Lector: ' + ${lector.nombre} + ' | ' + ${lector.Id}"
              ></option>
            </select>
          </div>

          <div class="mb-3">
            <label for="libro" class="form-label">Libro</label>
            <select class="form-select form-select-lg" name="libro" id="libro">
              <option selected value="-1">Escoge un libro</option>
              <option
                th:each=" libro : ${libros}"
                th:value="${libro.Id}"
                th:text="'Libro: ' + ${libro.titulo} + ' | Ejemplares Disponibles: ' + ${libro.countEjemplaresDisponibles}"
              ></option>
            </select>
          </div>
			<hr>
          <div class="mb-3 text-center">
            <button type="submit" class="btn btn-success">Guardar</button>

            <a class="btn btn-danger" th:href="@{/verprestamos}">Cancelar</a>
          </div>
        </form>
      </div>
    </div>

    <div th:insert="~{footertemplate :: footer}"></div>
  </body>
</html>
