<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nueva Reserva</title>
</head>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">


<header th:include="headertemplate"></header>
<div class="container mt-5">

	<div class="row justify-content-center">
		<form action="#" method="post" th:action="@{/addreserva}">
			<table class="table table-light table-striped text-center mt-5">
				<thead class="text-center table-dark">
					<tr>
						<th>Nueva Reserva</th>
						<th></th>
					<tr>
				</thead>
				<tbody>
					<tr>
						<td>Fecha de la Reserva</td>
						<td><input type="date" name="fechaPeticionReserva"
							placeholder="yyyy-MM-dd" required /></td>
					</tr>
					<tr>
						<td>Fecha estimada de prestamo</td>
						<td><input type="date" name="fechaEstimada"
							placeholder="yyyy-MM-dd" required /></td>
					</tr>
					<tr>
						<td>Lector</td>
						<td><select class="form-select form-select-lg"
							name="idLector" required>
								<option selected value="-1">Escoge un lector</option>
								<option th:each="lector : ${lectores}" th:value="${lector.id}"
									th:text="'Lector: ' + ${lector.nombre} + ' | ' + ${lector.id}"></option>
						</select></td>
					</tr>
					<tr>
						<td>Libro</td>
						<td><select class="form-select form-select-lg" name="idLibro"
							required>
								<option selected value="-1">Escoge un libro</option>
								<option th:each="libro : ${libros}" th:value="${libro.id}"
									th:text="'Libro: ' + ${libro.titulo} + ' | Ejemplares Disponibles: ' + ${libro.countEjemplaresDisponibles}"></option>
						</select></td>
					</tr>
				</tbody>
				<tfoot>
					<tr class="mt-5">
						<td colspan="2"><input type="submit"
							class="btn btn-success text-center" value="Guardar"> <a
							class="btn btn-danger text-center" th:href="@{/verReservas}">Cancelar</a></td>
					</tr>
				</tfoot>
			</table>
		</form>

	</div>
</div>


<footer th:include="footertemplate"></footer>
<body>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
		integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
		integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
		crossorigin="anonymous"></script>
</body>
</html>