<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Finalizar reserva</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous" />
</head>
<body>
	<header th:include="headertemplate"></header>
	<div class="container w-50">
		<h1>Finalizar reserva</h1>
		<hr>
		<table>
			<thead>
				<tr class="table-dark">
					<th>Nombre</th>
					<th>Datos</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="">
					<td th:text=""></td>
					<td th:text=""></td>
					<td th:text=""></td>
				</tr>
			</tbody>
		</table>
		<p>¿Deseas realizar la reserva?</p>
		<hr>
		<a class="btn btn-success" th:href="">Aceptar</a> <a
			class="btn btn-danger" th:href="">Cancelar</a>
	</div>
	<footer th:include="footertemplate"></footer>
</body>
</html>